<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBA6oJ_q1QbCSpZICIKbN76zENiyfGNOiA</string>
	<key>GCM_SENDER_ID</key>
	<string>471694942421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewCrew.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>brew-crew-7f809</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-crew-7f809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471694942421:ios:0488782214906d9fc2425c</string>
</dict>
</plist>